<div class="section-video-user">
  <div class="col-8">
    <div class="box-video-player">
      <video id="my-player" class="video-js" autoplay controls preload="auto" poster="./../../assets/img/img/4436050.jpg"
        data-setup='{}'>
        <source src="https://videoapp-web.herokuapp.com/api/uploads/videoFiles/{{idVideo}}" type="video/mp4">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
        </p>
      </video>
    </div>
    <div class="box-info-name-video">
      <label>{{video.Nombre}}</label>
    </div>
    <div class="box-info-likes-video">
      <div class="box-like">
        <button class="like-video"><img src="./../../assets/img/iconos/{{iconLike}}" (click)="SetLike()" class="icon-btn-like"></button>
        <label>{{video.ContLikes}}</label>
      </div>
      <div class="box-dislike">
        <button class="dislike-video"><img src="./../../assets/img/iconos/{{iconDisLike}}" (click)="setDislike()" class="icon-btn-dislike"></button>
        <label>{{video.ContDislikes}}</label>
      </div>
    </div>
    <div class="box-date-upload">
      <label>Subido el {{video.FechaPublicacion}}</label>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="box-info-video-user">
          <label>{{video.Description}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="info-canal-user">
      <div class="box-info-canal-user">
          <div class="box-img-canal">
            <img src="./../../assets/img/iconos/canal.png" class="icon-canal" alt="img-canal">
          </div>
          <div class="box-info-names-canal">
            <label class="label-name-canal">{{canal.Nombre}}</label>
            <p>{{canal.contSuscriptors}} suscriptores</p>
            <span class="description-canal">{{canal.Description}}</span>
          </div>
      </div>
    </div>
    <div class="box-download-video">
      <div class="box-img-info">
        <img src="./../../assets/img/img/Download.gif" class="img-downloand-video">
      </div>
      <div class="box-msg-download">
        <label>¿Te gustó el video?, puedes descargarlo <strong>no promuevas la pirateria</strong></label>
      </div>
      <div class="box-btn-download">
        <button class="btn-download (click) = DownloadVideo()" type="button">Descargar video</button>
      </div>
    </div>
  </div>
</div>
