<div class="section-video-user">
  <div class="col-8">
    <div class="box-video-player">
      <video id="my-player" class="video-js" controls preload="auto" poster="//vjs.zencdn.net/v/oceans.png"
        data-setup='{}'>
        <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
        <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
        <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
        </p>
      </video>
    </div>
    <div class="box-info-name-video">
      <label>Viaje a la selva Amazonica en Colombia</label>
    </div>
    <div class="box-info-likes-video">
      <div class="box-like">
        <button class="like-video"><img src="./../../assets/img/iconos/like.png" class="icon-btn-like"></button>
        <label>1.345</label>
      </div>
      <div class="box-dislike">
        <button class="dislike-video"><img src="./../../assets/img/iconos/dislike.png"
            class="icon-btn-dislike"></button>
        <label>12</label>
      </div>
    </div>
    <div class="box-date-upload">
      <label>Subido el 12 de Oct, 2021</label>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="box-info-video-user">
          <label>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores doloremque ipsa, inventore delectus
            ratione quam libero voluptates esse numquam, neque ad, facilis distinctio sint commodi quis possimus
            aliquid! Esse, assumenda!</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="info-canal-user">
      <div class="box-info-canal-user">
          <div class="box-img-canal">
            <img src="./../../assets/img/iconos/canal.png" class="icon-canal" alt="img-canal">
          </div>
          <div class="box-info-names-canal">
            <label class="label-name-canal">La cocina del loco chef</label>
            <p>234 suscriptores</p>
            <span class="description-canal">Hola granos de azucar, en este canal les enseñare todo sobre el arte de la cocina</span>
          </div>
      </div>
    </div>
    <div class="box-download-video">
      <div class="box-img-info">
        <img src="./../../assets/img/img/Download.gif" class="img-downloand-video">
      </div>
      <div class="box-msg-download">
        <label>¿Te gustó el video?, puedes descargarlo <strong>no promuevas la pirateria</strong></label>
      </div>
      <div class="box-btn-download">
        <button class="btn-download" type="button">Descargar video</button>
      </div>
    </div>
  </div>
</div>
