
<section class="container">
  <div class="section-home-videos">
    <div class="box-header-title-one">
      <label>Videos recientes</label>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let video of listVideos">
        <div class="card h-100">
          <img src="./../../assets/img/img/4436050.jpg" class="card-img-top" alt="Banner video">
          <div class="card-body">
            <a class="card-title" routerLink="/video/{{video.Vid}}">{{video.Nombre}}</a>
            <p class="name-canal-upload">{{video.Canal.Nombre}}</p>
            <p class="card-text">{{video.Description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{video.FechaPublicacion}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
