<div class="modal-dialog modal-dialog-centered modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Crear una cuenta</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <div class="box-img-banner">
            <img src="./../../assets/img/img/4905784.jpg" class="img-banner">
          </div>
        </div>
        <div class="col-6">
          <div class="alert {{msgAlert.Type}}" role="alert" id="alertInfoAcount">
            {{msgAlert.msg}}
          </div>
          <div class="form-new-acount">
            <div id="newAcountUser">
              <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-6">
                  <label for="validationCustom01" class="form-label">Nombre(s)</label>
                  <input type="text" [(ngModel)]="user.Nombre" class="form-control" id="validationCustom01" name="Nombre" required>
                  <div class="invalid-feedback">
                    Ingrese su nombre por favor
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom02" class="form-label">Apellido(s)</label>
                  <input type="text" [(ngModel)]="user.Apellidos" class="form-control" id="validationCustom02" name="Apellidos" required>
                  <div class="invalid-feedback">
                    Ingrese su apellido por favor.
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom03" class="form-label">Correo electronico</label>
                  <input type="email" [(ngModel)]="user.Correo" class="form-control" id="validationCustom03" name="Email" required>
                  <div class="invalid-feedback">
                    Por favor ingrese un correo.
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom04" class="form-label">Contraseña</label>
                  <input type="password" [(ngModel)]="user.Password" class="form-control" id="validationCustom05" name="password" required>
                  <div class="invalid-feedback">
                    Por favor ingrese una contraseña.
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                      Acepto los terminos y condiciones
                    </label>
                    <div class="invalid-feedback">
                      Debes aceptar los terminos y condiciones.
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn-create-acount" type="submit" (click)="newAcountUser()">Crear cuenta</button>
                </div>
              </form>
            </div>


            <div class="box-new-canal" id="formNewCanal">
              <div class="header-new-canal">
                <h1>Crear mi canal</h1>
              </div>
              <div class="body-new-canal">
                <form class="row g-3 needs-validation" novalidate>
                  <div class="col-md-12">
                    <label for="validationCustom10" class="form-label">Nombre del canal</label>
                    <input type="text"  [(ngModel)]="canal.Nombre" class="form-control" id="validationCustom10" name="NombreCanal" required>
                    <div class="invalid-feedback">
                      Ingrese un nombre por favor
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="validationCustom12" class="form-label">Describe tu canal</label>
                    <input type="text" [(ngModel)]="canal.Description" class="form-control" id="validationCustom12" name="DescriptionCanal" required>
                    <div class="invalid-feedback">
                      Ingrese una descripción por favor.
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn-create-acount" type="submit" (click)="newCanal()">Crear canal</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
